body {
    padding-top: 2.4rem;
    color: #dfdce3;
}

ul {
    justify-content: flex-end;
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

#logo {
    margin-left: 20px;
}

#navbarSupportedContent {
    justify-content: center;
}