/*slideAvisoLegal component */

#divTitlePolitica {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: #283618;
}

#titlePolitica {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 2.75rem;
    color: whitesmoke;
}

/*textPolitica component*/

#politicaContainer {
    padding-top: 3rem;
    padding-bottom: 15rem;
    font-family: 'Playfair Display', serif;
    color: black;
}

#politicaText {
    color: black;
}

#titlesPolitica {
    padding-top: 1.5rem;
    font-weight: 600;
    font-size: 1.15rem;
    padding-bottom: 1rem;
}
