/*titlesobremi component */

#divTitleSobreMi {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: #283618;
}

#titleSobreMi {
    text-align: center;
    font-weight: 600;
    font-size: 2.75rem;
    color: whitesmoke;
}

/* Jumbotron component */

#jumbotronSobreMi {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#sobreMiText {
    font-weight: 600;
    font-size: 1.02rem;
}

/*Detalles component*/
#titleDetalles {
    font-weight: 500;
    font-size: 2rem;
    color: whitesmoke;
}

#divDetalles {
    background-color: #4f772d;
    padding: 3rem 3rem 3rem 10rem;
}

/*SobreMi component */
#divSobreMiPrincipal{
    padding-bottom: 10rem;
}