body {
    margin: 0 auto;
    display: flex;
    padding-bottom: 12rem;
    font-family: 'Oswald', sans-serif;
}

h1 {
    padding-left: 12rem;
    margin-top: 80px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    padding-bottom: 50px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    margin-left: 1em;
}

h5 {
    font-family: 'Oswald', sans-serif;
}

.container {
    display: block;
    width: 100%;
}