div {
    font-family: 'Playfair Display', serif;
}

#accordionTest {
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: black;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}