footer {
    padding: 0.75rem 0;
    text-align: center;
    background-color: rgb(0,0,0);
    color: white;
    position: static;
    bottom: 0;
    left: 0;
    font-family: 'Playfair Display', serif;
}

#footerP {
    margin-top: .75rem;
    color: white;
}

#divFooter {
    color: white;
}

#footerTitles {
    font-weight: 500;
    font-size: 1.25rem;
    color: whitesmoke;
    padding-bottom: 0.5rem;
}
